@use '_variables' as *;

body {
  font-family: $base-font;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $header-font;
}

button,
button.dialog-buttons.default
{
  @include basic-button;
}

.app {
  background-image: url('./assets/img/black_goo.webp');
  background-size: 1000px;

  .window-header {
    background-image: none;
  }

  .window-content {
    background-image: none;
    color: $text-col;

    a
    {
      &:focus,
      &:hover
      {
        background-color: $bg-col-inv;
        box-shadow: none;
        color: $text-col-inv;
        text-shadow: none;
      }
    }
  }

  .notes,
  .hint {
    color: $text-col2;
  }
}

form,
.dialog,
.directory .directory-header .header-search {

  button,
  button.dialog-buttons.default
  {
    @include basic-button;
  }

  input,
  button,
  select,
  option,
  textarea {
    @include basic-element;

    &[type='text'],
    &[type='number'],
    &[type='password'],
    &[type='date'],
    &[type='time'],
    &[type='checkbox'] {
      @include basic-element;
      @include borderedAndHovFoc;

      &::placeholder {
        color: $text-col2;
      }

      &.inline-input {
        width: $inline-height;
        text-align: center;
        height: $inline-height;
      }
    }

    &.inline-input {
      width: $inline-height;
      text-align: center;
      height: $inline-height;
    }
  }

  select {
    @include borderedAndHovFoc;
  }

  label {
    color: $text-col;
  }

  h1,
  h2,
  h3 {
    &.form-header {
      color: $text-col;
    }
  }
}

.dialog .dialog-buttons button.default {
  @include basic-button;
}

button {
  @include basic-element;
}

.chat-message {
  @include basic-element;

  .message-header {
    color: $text-col2;
  }

  &.whisper {
    background-color: $bg-col2;
  }
}

#permissions-config .hint {
  color: $text-col2;
}

#chat-form textarea,
#chat-controls .roll-type-select {
  @include basic-element;
}

input[type='number'] {
  &.inline-input {
    width: 2rem;
    text-align: center;
    height: 1rem;
  }
}

@for $cols from 2 through 10
{
  .table-#{$cols}-cols {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    align-items: center;

    > * {
      margin: 0;
    }

    :not(h4) {
      justify-self: center;
    }

    h4 {
      grid-column: 1/-1;
      border-top: $header-border;
      border-bottom: $header-border;
      background-color: $header-group-col;
    }
  }
}

.table-header {
  color: $text-col2;
  text-align: center;
}

#module-management .package-list {
  .package-title,
  .package-metadata,
  .package-description {
    color: $text-col;
  }
}
